doctype html

html(lang="fr")
    head
        title Des légumes frais chez vous !
<<<<<<< HEAD
    body 
        block header
            h1 
                a(href='/') Déli'Frais
            a(class='button' href='/products') Tout nos produits
            br
            a(class='button' href='/producers') Nos producteurs
            br
            a(class='button' href='/users/1/basket') Votre panier
            br 
            br
=======
    body
        block scripts
>>>>>>> ccc0496eaa5a948691ae6c920734c003cd409dc4
        block content
            
            #login
            a(class='button' href='/select_state') S'enregistrer
            br
            a(class='button' href='/connection') Connexion
        block footer
