doctype html
html(lang="fr")
  head
    title= Des légumes frais chez vous !
  body
    h1 Déli'Frais
    #login
      a(class='button' href='/register') S'enregistrer
      a(class='button' href='/connection') Connexion