doctype html

html(lang="fr")
    head
        title Des légumes frais chez vous !
    body 
        block content
            h1 Déli'Frais
            #login
            a(class='button' href='/register') S'enregistrer
            br
            a(class='button' href='/connection') Connexion
        block footer
