doctype html

html(lang="fr")
    head
        title Des légumes frais chez vous !
    body 
        block header
            h1 
                a(href='/') Déli'Frais
            a(class='button' href='/products') Tout nos produits
            br
            a(class='button' href='/producers') Nos producteurs
            br
            a(class='button' href='/users/1/basket') Votre panier
            br 
            br
        block content
            
            #login
            a(class='button' href='/register') S'enregistrer
            br
            a(class='button' href='/connection') Connexion
        block footer
