extends ../../home
block content
    h1= 'Panier de ' +  user.firstname +' '+ user.lastname

    p= 'Prix total: '+ price +' €'
    ul
        each product in products
            li
                span= product.name + ' | '+product.price+" €" 
                