extends ../../home.pug
block script

block content
    - h1 Utilisateur +' '+  user.name +' '+ user.lastname

    form(method='PUT', action='/register')
    div.form-group
        label(for='name') Prénom:
        input#name.form-control(type='text', placeholder='Prénom', name='name')
    div.form-group
        label(for='lastname') Nom:
        input#lastname.form-control(type='text', placeholder='Nom', name='lastname')
    div.form-group
        label(for='email') Courriel:
        input#email.form-control(type='email', placeholder='votre@courriel.com', name='email')
    div.form-group
        label(for='city') Ville:
        input#city.form-control(type='text', placeholder='bourg-palette', name='city')
    div.form-group
        label(for='address') Adresse:
        input#address.form-control(type='text', placeholder='123 rue de la paix', name='address')
    div.form-group
        label(for='zipcode') Code Postal:
        input#zipcode.form-control(type='text', placeholder='33000', name='zipcode')
    div.form-group
        label(for='phone_number') Numéro de Téléphone:
        input#phone_number.form-control(type='text', placeholder='Numéro de téléphone', name='phone_number')
    if user.producer_id
        div.form-group
            label(for='category') Catégorie:
            input#category.form-control(type='text', placeholder='Maraîcher, Berger, Apiculteur', name='category')
        div.form-group
            label(for='description') Description:
            input#description.form-control(type='text', placeholder='Si vous voulez rajouter des précisions', name='description')
        div.form-group
            label(for='products') Produits:
            input#products.form-control(type='text', placeholder='Votre production', name='products')
    div.form-group
        label(for='pw') Mot de passe:
        input#pw.form-control(type='password', name='password')
    div.form-group
        label(for='pw2') Confirmer le Mot de Passe:
        input#pw2.form-control(type='password', name='confirmPassword')
    button.btn.btn-primary(type='submit') Modifier les données