extends ../../home.pug
block script

block content
    - h1 Utilisateur +' '+  user.name +' '+ user.lastname

    ul
        each value in user
            li= value

    a(class='button' href=`/users/:user.id/edit`)