extends ../home.pug

block content
    h1 Êtes vous consommateur ou Producteur
        #select
        br
        br
        a(class='button' href='/customer_register') Je suis un consommateur
        br
        br
        a(class='button' href='/producer_register') je suis un producteur